$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$border-radius-base: 3px;

@import "_media-queries.scss";
@import "bootstrap-sass/lib/bootstrap";

@mixin touch-min-height() {
  min-height: 44px; /* Meet touch best practice */
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.botf-wrapper {
  padding: 0; /* Reset .container padding */
  width: 100%;
}

.slides-container {
  width: 100%;
}

/* DEBUG

.container {
  border: 2px solid red;
}

.row {
  border: 2px solid green;
}

.col-sm-12 {
  border: 2px dotted #00003f;
} */

/* ios */

/* prevent copy popups */
*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.mainslide .img-responsive {
    margin: 0 auto;
    display: none;
}

.question-text {
    font-size: 18pt;
    text-align: center;
    margin-bottom: -2px;
}

.main-chart {
    position: relative; /* For absolute drilldown menu positioning */
    margin-top: $line-height-computed * 2;
    padding: 0; /* Adjust .well padding */
    background-color: white;
}

.my-carousel-control {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  width:100px;
  height:100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;
  z-index: 1000;
}

.reveal .controls{
  display: none !important;
}

.ask-button{
  border-radius: 50%;
  background-color: #CC0000;
  border-color: #A30000;
  width: 120px;
  height: 120px;
  font-size: 29px;
  right: -20px;
  bottom: -34px;
  position: absolute;
  border-width: 12px;
  color: #B3B3B3;
  z-index: 2001;
}

.history-button-group{
  z-index: 2000;
  position: absolute;
  right: 100px;
  bottom: -12px;
}

.history-button{
  font-size: 30px;
}

.text-input-form{
  bottom:0px;
  left:0px;
  right:210px;
  padding:0px;
  position:absolute;
  z-index: 2000;
}

.text-input{
  bottom:0px;
}

.rn-carousel-control-next {
  text-align: left;
  right: -50px !important;
}
.rn-carousel-control-prev {
  text-align: right;
  left: -50px !important;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.debug {
    display: none;
}

.question {
    @extend .pull-left
}

.answer {
    @extend .pull-right
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* d3 */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Fixing line chart fill */
path.nv-line {
  fill: none;
}

.bar {
  fill: #009999;
}

.bar:hover {
  fill: #006969 ;
}

.x.axis path {
  display: none;
}

.nv-bar,
.nv-point {
  cursor: pointer;
}

.nv-point {
  stroke-width: 12;
  stroke-opacity: 0;
}

.tick,
.nv-bar,
.nv-axisMaxMin,
.nv-axislabel {
  font-size: $font-size-small;
}

#countries {
//  stroke: grey;
//  fill: #009999;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.country {
  opacity: 0.5;
  cursor: pointer;
  font-family: $font-family-base;
}

.country:hover {
  fill: white;
  stroke: grey;
  stroke-width: 1;
}

#countries .active {
  fill: #89a;
}

.country__code {
  font-size: .75em;
  fill: black;
  stroke-width: 0;
}

.country__revenue {
  font-size: 0.75em;
  font-weight: bold;
  fill: black;
  stroke-width: 0;
}

.country__circle {
  stroke: white;
  stroke-width: 2;
  opacity: .5;
//  fill: white;
}



/* END d3 */

/* drilldown */
.drilldown__menu {
  position: absolute;
  z-index: $zindex-popover;
  display: none; /* Hide on default */
  max-width: 300px; /* Prevent too wide menu/buttons */
  padding: $padding-large-vertical $padding-large-horizontal;
  text-align: center;
  background-color: $body-bg;
  border-radius: $border-radius-base;
  box-shadow: 0 1px 3px darken($well-bg, 23%), inset 0 1px 0 lighten($well-bg, 33%);
}

.drilldown__items {
  width: 100%; 
}

.drilldown__item {
  @include touch-min-height();
  padding: $padding-base-vertical $padding-small-horizontal;
  text-transform: uppercase;
  background-color: darken(#999999,8%);
  border-color: darken(#999999,16%);
  color: white;
}

.view__title {
  text-transform: uppercase;
}

/* top bar */
.agendaItem {
  display: block;
  @include touch-min-height();
  padding: 12px $padding-large-horizontal;
  cursor: pointer;
/*
  &:hover {
    color: white;
    background-color: $brand-primary;
  }*/
}

.agendaItem .time {
  font-weight: bold;
}
.agendaItem .presenter {
  padding-left: 15px;
}

.indicator, .filter, .groupBy {
  text-transform:capitalize;
  font-weight: bold;
}

.history {
  height: 500px;
  overflow: scroll;
}

.historyItemWithTitle {
  font-weight: bold;
}

.historyItemWithoutTitle{
  padding-left: 15px;
}

.active {
  color: white;
  background-color: $brand-primary;
}

.agenda-item--first-level {
  border-bottom: 3px solid $brand-primary;
  text-transform: uppercase;
}

.agenda-item--second-level {

}

.enteredByVoice {
  color: #DD4200;
}

.history {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Modals */
.modal-error {
  color: red;
}

.modal-error-body {
  padding-bottom: 0;
}

/* Data View */
.data-view__controls {
  margin-bottom: $line-height-computed; /* Same as for .lead */
}

.data-view__parameter-control {
  margin-bottom: $line-height-computed;
}

.data-view__control-buttons {
  margin-top: -4px;
}

.data-view__control--noseries {
  background-color: darken(#999999,8%);
  border-color: darken(#999999,16%);
}

.data-view__control-label {
  display: inline-block;
  margin-bottom: 3px;
}

.data-view__control {
  @include touch-min-height();
  
  &:first-child {
    border-top-left-radius: 0px;
  }

  
  text-transform: uppercase;
}


/* Build series colors based on D3 category 20 colors
  See https://github.com/mbostock/d3/wiki/Ordinal-Scales#category20
  */
/* $d3category20colors: #00ABAD, #777777, #AD0000, #AD9700, #00AD00, #AD0056; */
$d3category20colors: #33BCBD, #C80909, #DAC32D, #33BD33, #BD3378, #929292;
$numberfontsizes: 125, 110, 82, 63, 51, 43;

@for $i from 1 through length($d3category20colors) {

  $color: nth($d3category20colors, $i);

  @for $j from 1 through 6 {
    .data-view__numbervis--series-#{$i - 1}-#{$j} {
      color: $color;
      text-align: right;
      width: 100%;
      float: right;
      padding-right: 60px;
      font-size: #{nth($numberfontsizes, $j) - 20}px;
    }
  }

  .data-view__control--series-#{$i - 1} {
    background-color: $color;
    border-color: darken($color,8%);

    &:hover {
      background-color: darken($color,8%);
      border-color: darken($color,16%);
    }
  }

  .data-view__title--series-#{$i - 1} {
    color: $color;
  }
}

.data-view__numbervis {
  text-align: right;
  padding-right: 80px;
  vertical-align: middle;
  display: inline;


}

.slides__content {
  height: 768px;
}

.touchviz{
  position: absolute;
  z-index: 100000;
}

.touchviz circle{
  stroke-width: 2px; 
  fill: #AAAAAA; 
  stroke: #FFFFFF;
}

/* Speech */
.speech__debug {
  margin: $line-height-computed 0;
}

/* Reveal.js custom */
@import "_reveal-custom.scss";

/* Annotation */
#annotation-canvas {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 0px;
}

#annotation-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: rgba(0,0,0,0.8);
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 0px;
  display: none;
}


/* Help menu */
.glyphicon-refresh {
  animation-name: rotateThis;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

