<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boardroom of the Future</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css scripts/vendor/angular-pages-master/angular-pages.css -->
    <link rel="stylesheet" href="scripts/vendor/angular-carousel/angular-carousel.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="botfApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-click="backgroundClick()" ng-controller="MainCtrl">
<div class="container botf-wrapper" style="overflow: hidden">

<input
        id="askButton"
        class="btn ask-button"
        ng-show="tablet"
        ng-mousedown="askButtonDown()"
        ng-mouseup="askButtonUp()"
        type="button"
        value="ASK"/>

<div class="btn-group history-button-group"
     ng-show="tablet">
    <button
        id="undoButton"
        class="btn history-button"
        ng-click="undo()">
            <span class="glyphicon glyphicon glyphicon-arrow-left"></span>
    </button>
    <button
        id="redoButton"
        class="btn history-button"
        ng-click="redo()">
            <span class="glyphicon glyphicon glyphicon-arrow-right"></span>
    </button>
</div>

<form 
  class="text-input-form" 
  ng-show="tablet"
  role="form" 
  ng-submit="submitEntryField(entryFieldText)">
    <input
            type="text"
            class="form-control text-input"
            ng-model="entryFieldText"
            ng-change="textEntryFieldChanged(entryFieldText)"
            onblur="window.scrollTo(0,0);"
            ng-trim="false"
            select-on-click/>
</form>

<!--             {{carouselIndex}} -->
<span class="rn-carousel-control my-carousel-control rn-carousel-control-prev" ng-click="carouselPrev()"
      ng-show="tablet" ng-if="carouselIndex > 0" style=""></span>
<span class="rn-carousel-control my-carousel-control rn-carousel-control-next" ng-click="carouselNext()"
      ng-show="tablet" ng-if="carouselIndex < 2" style=""></span>
<ul rn-carousel rn-carousel-swipe=false rn-carousel-index="carouselIndex">


<li>
    <!-- Agenda Container -->
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header view__title">
                    Agenda
                    <small> Revenue Analysis: Infrastructure & Cities</small>
                </h1>
            </div>
        </div>

        <!-- Agenda -->
        <div class="row">

            <div class="col-sm-6">
                <span class="lead agendaItem agenda-item--first-level">Agenda</span>

                <!-- Begin History -->
                <div class="history">
                    <div class="row animate-repeat" ng-repeat="agendaItem in agenda">
                        <div class="col-sm-12">
                                              <span class="agendaItem agenda-item--second-level"
                                                    ng-click="setAgendaItem(agendaItem)"
                                                    ng-class="{active: isActiveAgendaItem(agendaItem)}">
                                                  <span class="time">{{agendaItem.time}}</span>
                                                  <span> - {{agendaItem.title}}</span><br/>
                                                  <span class="presenter">{{agendaItem.presenter}}</span>

                                              </span>
                        </div>
                    </div>
                </div>
                <!-- End History -->

            </div>
            <!-- End Col -->

            <div class="col-sm-6">
                <span class="lead agendaItem agenda-item--first-level">Views</span>

                <!-- Begin History -->
                <div class="history">
                    <div class="row animate-repeat" ng-repeat="historyItem in history()">
                        <div class="col-sm-12">
                                              <span class="agendaItem agenda-item--second-level"
                                                    ng-click="loadFromHistory(historyItem)"
                                                    ng-class="{active: isActiveHistoryItem(historyItem)}">

                                                  <span ng-show="historyItem.title" class="historyItemWithTitle">
                                                      <span class="glyphicon glyphicon-stats"></span>
                                                      {{historyItem.title}}
                                                  </span>
                                                  <span ng-hide="historyItem.title" class="historyItemWithoutTitle">
                                                      <span class="glyphicon glyphicon-stats enteredByVoice"></span>
                                                      <span ng-repeat="parameters in historyItem.parameters">
                                                          <span ng-show="!$first">
                                                              compared to
                                                          </span>
                                                          <span ng-repeat="indicator in parameters.indicators">
                                                              <span ng-show="!$first">
                                                                  and
                                                              </span>
                                                              <span class="indicator">{{indicator}}
                                                              </span>
                                                          </span>
                                                          <span ng-repeat="filter in parameters | flattenFilters">
                                                              in <span class="filter">{{filter}}</span>
                                                          </span>
                                                      </span>
                                                      <span ng-repeat="groupBy in historyItem.parameters[0].groupByCriteria">
                                                          <span ng-show="$first">by</span> <span class="groupBy">{{groupBy}}</span>
                                                      </span>
                                                  </span>
                                              </span>
                        </div>
                    </div>
                </div>
                <!-- End History -->
            </div>

            <!--<div class="col-sm-4">
                <span class="lead agendaItem agenda-item--first-level">Forecasts 2014</span>
            </div>-->

        </div>
        <!-- End Row -->
    </div>
    <!-- End Agenda Container -->
</li>


<li>
    <!-- Data View Container -->
    <div class="container">
        <!-- Desktop Title -->
        <div class="row" ng-hide="tablet">
            <div class="col-lg-12">
                <!-- Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="page-header view__title">
                            <!-- Dynamic title here-->
                                          <span ng-repeat="parameters in queryParameters"
                                                class="data-view__title--series-{{getSeriesIndex($parent.$index, $index)}}">
                                            <span ng-repeat="indicator in parameters.indicators">
                                              <span ng-show="!$first">
                                                <small>and</small>
                                              </span>
                                              <span class="data-view__control data-view__control--indicator">
                                                {{indicator}}
                                              </span>
                                              <span ng-repeat="filter in parameters | flattenFilters">
                                                <small>in</small> <span
                                                      class="data-view__control data-view__control--filter">{{filter}}</span>
                                              </span>
                                            </span>
                                            <span ng-repeat="groupby in parameters.groupByCriteria">
                                              <span ng-show="$first"><small>by</small></span> 
                                              <span class="data-view__control data-view__control--group-by">{{groupby}}</span>
                                            </span>
                                            <br/>
                                          </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chart -->
        <div class="row">
            <div class="col-sm-12">

                <div class="well main-chart">
                    <div class="drilldown__menu"></div>
                    <div class="charts">
                        <svg></svg>
                    </div>
                </div>

            </div>
        </div>

        <div class="row data-view__controls" ng-show="tablet">
            <div class="col-sm-12">

                <input id="nuanceSpeechInput" type="text" class="hidden" ng-model="recognition.currentQuery"/>

                <p class="debug">Debug: {{debug}}</p>

                <p class="debug">
                    {{recognition.final_transcript}} XX
                    {{recognition.interim_transcript}}
                </p>

                <button type="button" class="hidden btn btn-default pull-right"
                        ng-click="startVoice()">
                    Start Voice
                </button>

                <!-- Indicator, Filter and GroupBy Controls -->
                <div ng-repeat="parameters in queryParameters" class="row data-view__parameter-control">

                    <!-- Indicator -->
                    <div class="col-sm-2">
                                          <span class="label label-default data-view__control-label">
                                              <span class="glyphicon glyphicon-record"></span>
                                              Indicator
                                          </span>
                        <br>

                        <div class="btn-group data-view__control-buttons">
                            <button type="button"
                                    class="btn btn-primary data-view__control data-view__control--indicator data-view__control--series-{{getSeriesIndex($parent.$index, $index)}}"
                                    ng-repeat="indicator in parameters.indicators"
                                    ng-click="removeFromQueryParameters('indicators', indicator, $parent.$index)">
                                {{indicator}}
                            </button>
                        </div>
                    </div>

                    <!-- Filter -->
                    <div class="col-sm-8">
                                          <span class="label label-default data-view__control-label">
                                              <span class="glyphicon glyphicon-filter"></span>
                                              Filter
                                          </span>
                        <br>

                        <div class="btn-group data-view__control-buttons">
                            <button
                                    type="button"
                                    class="btn btn-primary data-view__control data-view__control--filter data-view__control--series-{{getSeriesIndex($parent.$index, 0)}}"
                                    ng-repeat="filter in parameters | flattenFilters"
                                    ng-click="removeFromQueryParameters('filters', filter, $parent.$index)">
                                {{filter}}
                            </button>
                        </div>
                    </div>

                    <!-- Group by -->
                    <div class="col-sm-2" ng-show="$first">
                                          <span class="label label-default data-view__control-label">
                                              <span class="glyphicon glyphicon-list-alt"></span>
                                              Group by
                                          </span>
                        <br>

                        <div class="btn-group data-view__control-buttons">
                            <button
                                    type="button"
                                    class="btn btn-primary data-view__control data-view__control--group-by data-view__control--noseries"
                                    ng-repeat="groupByCriterion in parameters.groupByCriteria"
                                    ng-click="removeFromQueryParameters('groupByCriteria', groupByCriterion, $parent.$index)">
                                {{groupByCriterion}}
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Data View Container -->
</li>


<li>
<!-- Slides Container -->
<div class="container slides-container">
<div class="row">
<div class="row">
<div class="col-sm-12 slides__content">
<!--<iframe id="slideiframe" type="text/html" src="views/slides.html" width="100%" height="100%" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
<!--<iframe id="slideiframe" type="text/html" src="views/slides.html" width="100%" height="100%" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
<div class="reveal-body">
    <div class="reveal">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <div class="slides">
                <!-- slide 0 -->
                <section data-id="7ff72c64f03d752017ff4d9ab5b87af2" class="">
                    <h2>Opening</h2>
                    <br/>
                    <ul>
                        <li>Role Call</li>
                        <li>Approve agenda</li>
                        <li>Previous meeting minutes</li>
                    </ul>
                </section>
                <!-- slide 1 -->
                <section data-id="60978001c666b0ce2bc490a85843237c" class="">
                    <br/>
                    <h2>Revenue Analysis</h2>

                    <div>Division: Infrastructure &amp; Cities</div>
                    <div>
                        <font color="#9d9a9a">April 2013</font>
                    </div>
                </section>
                <!-- slide 2 -->
                <section data-id="e630712b76bdc9b60c8cd39851afb7d6" class="">
                    <h2>sector overview</h2>
                    <br/>
                    <div>
                        <ul>
                            <li>Revenues around 870m</li>
                            <li>2nd most grossing sector, under Industry</li>
                        </ul>
                    </div>
                </section>
                <!-- slide 3 -->
                <section class="" data-id="a5e6d3f7bed6da0488a9c8735a4352b9">
                    <h2>monthly comparison</h2>
                    <br/>
                    <div>
                        <ul>
                            <li>Revenues down from boom in March</li>
                            <li>Trend holds for other sectors as well</li>
                        </ul>
                    </div>
                </section>
                <!-- slide 4 -->
                <section class="" data-id="f59090ce19f4e83509888e99ffb359ef">
                    <h2>divisions overview</h2>
                    <br/>
                    <div>
                        <ul>
                            <li>Building Technologies remains strongest</li>
                            <li>Rail Systems was hit hard by steel shortage</li>
                            <ul>
                                <li>New contract found for May</li>
                            </ul>
                            <li>Smart Grid is growing quickly</li>
                        </ul>
                    </div>
                </section>
                <!-- slide 5 -->
                <section class="" data-id="03a9d06fba697d212be4b6084969f760">
                    <h2>Update in China</h2>
                    <br/>
                    <ul>
                        <li>Focused on low and medium voltage unit</li>
                        <li>Next up: Mobility and Rail Systems</li>
                    </ul>
                </section>
                <!-- slide 6 -->
                <section class="" data-id="14eeacdcbef7fe6ea5a642a0ff9094ac">
                    <h2>Future Operations</h2>
                    <br/>
                    <ul>
                        <li>Buy small mobility company</li>
                        <li>Restructure business units to align with new company structure</li>
                    </ul>
                </section>
            </div>

        </div>
    </div>
</div>

<!-- Socket.io client-->
<script>
    window.goToSlide = function (slideNr) {
        //Reveal.slide(slideNr, 0, 0);
    }

    var lastReceivedSlide = undefined;
    //var socket;


    (function () {
        /** start - only in master.js **/
        // listeners for slide change/ fragment change events
        /** end - only in master.js **/
        // Move to corresponding slide/ frament on receiving
        // slidechanged event from server
    })();

    window.initSync = function (serverUrl) {
        //socket = io.connect(serverUrl);
        //Reveal.initialize({
        //    history: true
        //});

        //notifyServer = function (event) {

        //    data = {
        //        indexv: Reveal.getIndices().v,
        //        indexh: Reveal.getIndices().h,
        //        indexf: Reveal.getIndices().f || 0
        //    }


        //if (lastReceivedSlide !== data.indexh) {
        //socket.emit("slide", data);
        //    lastReceivedSlide = undefined;
        //}
        //console.log("send Slide")
        //}

        //Reveal.addEventListener("slidechanged", notifyServer);
        //Reveal.addEventListener("fragmentshown", notifyServer);
        //Reveal.addEventListener("fragmenthidden", notifyServer);


        //socket.on('slide', function (data) {
        //console.log("received Slide");
        //    lastReceivedSlide = data.indexh;
        //    Reveal.slide(data.indexh, data.indexv, data.indexf);
        //});

    }

</script>
</div>
</div>
</div>
</div>
<!-- End Slide View Container -->
</li>

</ul>
<!-- End Carousel -->
</div>
<!-- End Container and .botf-wrapper -->

</div>
<!-- End ng container -->

<!-- Help Modal -->
<div class="modal" id="explanationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="">&times;</button>
                <h4 class="modal-title">I am listening! <span class="glyphicon glyphicon-refresh"></span></h4>
            </div>
            <div class="modal-body">
                <h5>Examples:</h5>
                <ul>
                    <li><em>"Show me the revenue in April by division."</em></li>
                    <li><em>"Can I please see the orders in Industry compared to Energy by period?"</em></li>
                </ul>
                <h5>
                    <large>What to ask:</large>
                </h5>
                <span> 
                  <li> Choose between <b>Revenue</b> and <b>Orders</b>. <br/>
                  <li> You may split it up by an attribute, i.e.
                      <ul><b>Sector, Division, Business Unit, Business Segment,</b> or <b>Business Subsegment</b>
                          <br/> <b>Lead Country</b> or <b>Country</b> <br/>
                          <b>Period</b><br/></ul>
                  <li> You can <b>filter</b> for any value that occurs in the data as filters: i.e.
                      <ul>a sector / division / business unit / ...</b>
                          <br/> a country
                          <br/> a month <br/></ul>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-error">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="">&times;</button>
                <h4 class="modal-title">Sorry, I could not understand you.</h4>
            </div>
            <div class="modal-body modal-error modal-error-body">
                <h5 style="color: red">Please hold the button while you are speaking. <br/> Also, make sure you are
                    connected to the Internet.</h5>
            </div>
            <div class="modal-body">
                <h5>Examples:</h5>
                <ul>
                    <li><em>"Show me the revenue in April by division."</em></li>
                    <li><em>"Can I please see the orders in Industry compared to Energy by period?"</em></li>
                </ul>
                <h5>
                    <large>What to ask:</large>
                </h5>
                <span> 
                  <li> Choose between <b>Revenue</b> and <b>Orders</b>. <br/>
                  <li> You may split it up by an attribute, i.e.
                      <ul><b>Sector, Division, Business Unit, Business Segment,</b> or <b>Business Subsegment</b>
                          <br/> <b>Lead Country</b> or <b>Country</b> <br/>
                          <b>Period</b><br/></ul>
                  <li> You can <b>filter</b> for any value that occurs in the data as filters: i.e.
                      <ul>a sector / division / business unit / ...</b>
                          <br/> a country
                          <br/> a month <br/></ul>
            </div>
        </div>
    </div>
</div>

<div class="annotation-trail">
    <canvas id="annotation-canvas"></canvas>
    <div id="annotation-circle"></div>
</div>

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- build:js scripts/plugins.js -->
<script src="bower_components/bootstrap-sass/js/affix.js"></script>
<script src="bower_components/bootstrap-sass/js/alert.js"></script>
<script src="bower_components/bootstrap-sass/js/dropdown.js"></script>
<script src="bower_components/bootstrap-sass/js/tooltip.js"></script>
<script src="bower_components/bootstrap-sass/js/modal.js"></script>
<script src="bower_components/bootstrap-sass/js/transition.js"></script>
<script src="bower_components/bootstrap-sass/js/button.js"></script>
<script src="bower_components/bootstrap-sass/js/popover.js"></script>
<script src="bower_components/bootstrap-sass/js/carousel.js"></script>
<script src="bower_components/bootstrap-sass/js/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/js/collapse.js"></script>
<script src="bower_components/bootstrap-sass/js/tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/modules.js -->
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="scripts/vendor/angular-carousel/angular-carousel.js"></script>
<script src="scripts/vendor/curve.min.js"></script>
<script src="bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="bower_components/nvd3/build/nv.d3.js"></script>
<script src="bower_components/topojson/topojson.js"></script>
<script src="bower_components/reveal.js/js/reveal.js"></script>
<!-- endbuild -->

<!-- iPad -->
<script type="text/javascript" src="cordova.js"></script>

<!-- build:js scripts/vendor.js -->
<script type="text/javascript" src="scripts/vendor/nuance/nuancespeechkit.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/processTextService.js"></script>
<script src="scripts/services/lineitems.js"></script>
<script src="scripts/services/speechService.js"></script>
<script src="scripts/services/graphService.js"></script>
<script src="scripts/controllers/main.js"></script>
<!-- endbuild -->
</body>
</html>
